<!--{%  if ultimos_clientes %}-->
<!--<ul>-->
    <!--{%for cliente in ultimos_clientes %}-->
    <!--<li>-->
        <!--<a href="/reservas/{{cliente.id}}/"> {{cliente.nome}} </a>-->
    <!--</li>-->
    <!--{% endfor%}-->
<!--</ul>-->
<!--{%else%}-->
<!--<p>Nenhum cliente registrado</p>-->
<!--{%endif%}-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'reservas/style.css' %}">

{% if ultimos_clientes %}
    <ul>
        {% for cliente in ultimos_clientes %}
            <li>
            <a href="{% url 'reservas:detalhe' cliente.id %}">
                {{ cliente.nome }}
            </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum cliente registrado</p>
{% endif %}
